html, body{
    height: 100%;
}
body{
    font-family:'Courier New', Courier, monospace;
    padding: 16px;
    max-width: 900px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    font-weight: bold;
    background-color: burlywood;
}
nav {
    display: flex;
    align-items: center;
    padding: 16px 0px;
}
#logo{
    margin: 0px;
}
.navigation-items{
    display: flex;
    list-style-type: none;
    padding: 0px;
    align-items: center;
    margin: 0px;
    margin-left: auto;

}
.navigation-item{
    margin:  8px;
}
a{
    text-decoration: none;
    font-weight: 600;
}
.nav-items{
    display: flex;
}
.nav-items #facebook{
    width: 85px;
    height: 55px;
    margin-left: 10px;
}
.nav-items #instagram{
    width:50px;
    height: 50px;
    margin-right: 20px;
}
.nav-items #linkedln{
    width: 50px;
    height: 50px;
}
#about-me {
    display: block;
}
.intro{
    display: flex;
}
h2{
    font-family:'Courier New', Courier, monospace;
    margin: 0px 0px 12px 0px;
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;

}
.intro-text{
    margin-right: 16px;
}
.portrait{
    width: 300px;
    border-radius: 12px;
    flex-shrink: 0;
}
.portrait-two{
    width: 400px;
    height: 300px;
    border-radius: 12px;
}
.portrait-three{
    width: 350px;
    height: 350px;
    border-radius: 12px;
}
.portrait-four{
    width: 350px;
    height: 350px;
    border-radius: 12px;
    display: block;
    padding-left: 64px;
}
h5{
    font-family:'Courier New', Courier, monospace;
    margin: 0px 0px 12px 0px;
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
#name{
    height: 25px;
    width: 390px;

}

#email{
        height: 25px;
        width: 390px;
}
#message{
    resize: none;
}

.button{
    margin-top: 16px;
    height:30px;
    width:100px;
    border-radius: 12px;
    display: block;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

@media only screen and (max-width: 960px){
    .main{
        padding-top: 0;
    }
}


@media only screen and (max-width:470px){
    .portrait{
        width: 100%;
        margin: 0;
    }
    .portrait-two{
        width: 100%;
        margin: 0;
    }
    .portrait-three{
        width: 100%;
        margin: 0;
    }
    .portrait-four{
        width: 100%;
        margin: 0;
    }
}